doctype html
head
    body
        form(action="http://localhost:4000/auth/google", method="get")
            p Firt Name
                input(type="text" name="first_name")
            p Last Name
                input(type="password" name="last_name")
            p
                input(type="submit" value="Submit")
